.body-title {
    padding-bottom: 70px;
}

.body-title-text h2 {
    font-size: 44px;
    color: #19191a;
    margin-bottom: 12px;
}

.body-title-option a {
    display: inline-block;
    font-size: 18px;
    color: #19191a;
    margin-right: 20px;
    /* position: relative; */
    font-weight: 500;
}

.body-title-option span {
    display: inline-block;
    font-size: 18px;
    color: #aaaab3;
}

.body-content {
    width: 100%;
}

.box {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e1e1;
    padding-top: 46px;
}

.box2 {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e1e1;
    height: 70px;
}
