.body {
    min-height: 100vh;
    max-width: 1170px;
    margin: 0px 127.500px 0px 127.500px;
    padding: 70px 15px 70px 15px;
    display: block;
}

a {
    color: black;
}

a:hover {
    color: blue;
}